/* Reset Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

/* HTML Styles */
html {
    background-color: white;
}

/* Header Styles */
header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

header h2,
header h3 {
    text-indent: 0;
    padding-right: 30px;
    padding-left: 30px;
}

/* Main Content Styles */
main {
    padding-right: 30px;
    padding-left: 30px;
}

main h1 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

main h2 {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

main h3 {
    padding-bottom: 0.25em;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: 0.5em;
}

main blockquote {
    padding-right: 2em;
    padding-left: 2em;
}

ul {
    padding-bottom: 0.25em;
    padding-left: 1.25em;
}

li {
    padding-bottom: 0.35em;
}

/* Footer Styles */
footer {
    background-color: #931420;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Blockquote Styles */
blockquote {
    font-style: italic;
}

/* Header Background Gradient */
header {
    background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
}

/* Adding text shadow to "75th" */
.shadow {
    text-shadow: 1px 1px #800000;
}
